*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.green-box{
    background-color: greenyellow;
    height: 100px;
}

.black{
    background-color: black;
}

.jumbo_height{
    height: 300px;
    background-color: greenyellow;
}

.box{
    height: 100px;
    background-color: greenyellow;
    margin: 10px;
}