*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    height: 500px;
    margin-top: 100px;
}

.img_grande{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
}

.opacity{
    opacity: 0.5;
}
.opacity:hover{
    opacity: unset;
    border-bottom: 1px solid blue;
}

.transform:hover{
    transform: translate(10px, -10px);
}


.bgc_grigioscuro{
    background-color: #1F1F1F;
}
.bgc_grigio{
    background-color: #BEBCBB;
}
.bgc_blu{
    background-color: #00439C;
}
.black{
    background-color: black;
}
.bgc_bluscuro{
    background-color: #161C3B;
}

header{
    width: 100%;
    top: 0;
    z-index: 1;
}
.header_top img{
    height: 50px;
    width: 100px;
}

.navbar{
    height: 100px;
}
.nav-item a{
    color: black;
}

.jumbotron{
    margin-top: 150px;
}

.b_radius img{
    border-radius: 30px;
}
.b_radius30{
    border-radius: 30px;
}
    
.globe_foot{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.sony_foot_logo{
    height: 50px;
}



    

    
